@import '~styles/config';

body {
    background-color: #f4f5f7;
}

.selection-cell-header,
.selection-cell {
    display: none;
}

.react-bootstrap-table-pagination {
    position: absolute;
    bottom: -53px;
    width: 100%;
    margin: 0;

    & > div {
        padding: 0;
    }
}

.react-bootstrap-table-pagination ul.pagination {
    margin: 0;
}

.search-label {
    margin: 0;

    & > input {
        border-radius: 0;
        border: 0;
    }
}

.table__actions {
    button {
        margin-left: 10px;
    }
}