$color-black: #000;
$color-blue: #3498db;
$color-green: #2ecc71;
$color-grey: #bdc3c7;
$color-orange: #e67e22;
$color-purple: #9b59b6;
$color-red: #e74c3c;
$color-turquiose: #1abc9c;
$color-yellow: #f1c40f;
$color-white: #fff;

$breakpoint-xs: 360px;
$breakpoint-sm: 470px;
$breakpoint-md: 768px;
$breakpoint-lg: 1023px;
$breakpoint-xl: 1490px;
